<hr>
<h1>Listado de Heroes</h1>


<div *ngIf = "heroeBorrado">
    <h3>Heroe Borrado: <small>{{heroeBorrado}}</small>  </h3>
</div>

<div *ngIf = "!heroeBorrado">
    <h3>No ha borrado nada </h3>
</div>

<!--else-->

<div *ngIf = "heroeBorrado; else noBorrado">
    <h3>Heroe Borrado: <small>{{heroeBorrado}}</small>  </h3>
</div>

<ng-template #noBorrado>
    <h3>No ha borrado nada </h3>
</ng-template>

<button (click)="borrando();"> Borrar </button>

<p></p>

<li *ngFor="let heroe of heroes; let i = index">
    {{i + 1}} .- {{ heroe }} 
</li>



